.form {
    display: flex;
    width: 100%;
    justify-content: center;

    margin-bottom: 30px;
}
.input {
    width: 100%;
    padding: 10px 20px;

    border-radius: 10px 0 0 10px;
    background-color: #9e8781;
    border: 3px solid #675d5a;
    color: white;
    font-size: 15px;
}
.input:focus {
    border-color: #bdbdbd;
    box-shadow: 0 0 0 0.2rem rgba(158, 158, 158, 0.25);
    outline: 0;
}

.add {
    padding: 10px 20px;
    min-width: 105px;
    
    border-radius: 0 10px 10px 0;
    background-color: #675d5a;
    color: white;
    font-size: 15px;
    cursor: pointer;
}
.add:hover {
    background-color: #4b4441;
    transition: background-color 0.15s ease-in-out;
}