.form {
    display: flex;
    width: 100%;
    justify-content: center;
    margin-bottom: 30px;
}
.input {
    width: 100%;
    padding: 10px 20px;
    border-radius: 10px 0 0 10px;
    background-color: #F7F7FF;
    box-sizing: border-box;
    font-size: 15px;
}
.input:focus {
    box-sizing: border-box;
    box-shadow: 0 0 0 0.2rem rgba(247, 146, 162, 0.25);
    outline: 0;
}
.add {
    padding: 10px 20px;
    min-width: 105px;
    
    border-radius: 0 10px 10px 0;
    background-color: #f792a2;
    color: white;
    font-size: 15px;
    cursor: pointer;
}
.add:hover {
    background-color: #FD5F78;
    transition: background-color 0.15s ease-in-out;
}