.innerItem {
    width: 100%;
    padding: 10px 20px;

    background-color:#cfbeba;
    color:black;
    border-radius: 10px;
    font-size: 15px;

    display: flex;
    justify-content: space-between;
    align-items: center;

    margin-bottom: 15px;
}
/* .innerItem:hover {
    background-color: #4b4441;
    transition: background-color 0.15s ease-in-out;
} */

.btn {
    background: none;
    margin-left: 10px;
    cursor: pointer; 
}
.btn img {
    width: 20px;
    height: 20px;
}
.btn-delete:hover, .btn-edit:hover, .btn-done:hover {
    transform: scale(1.3);
    transition: transform 400ms ease;
} 

.completed {
    text-decoration: line-through;
    color: rgb(232, 194, 147);
}

.bg-color {
    background-color:#655d5a;
    color:white;
}
