.innerItem {
    width: 100%;
    padding: 10px 20px;

    background-color: #F7F7FF;
    color: #6e7285;
    border-radius: 10px;
    font-size: 15px;

    display: flex;
    justify-content: space-between;
    align-items: center;

    margin-bottom: 15px;
}
.wrap-left{
    display: flex;
    width: 100%;
    align-items: center;
}

/* .innerItem:hover {
    background-color: #4b4441;
    transition: background-color 0.15s ease-in-out;
} */
.wrap-rigth {
    display: flex;
    margin-left: 10px;
}
.task-text {
    width: 100%;
}
.input-edit {
    background-color: transparent;
    font-family: 'Montserrat';
    font-size: 15px;
    outline: none;
    width: 100%;
    color: rgb(121, 9, 89)
}
.btn {
    background: none;
    margin-right: 10px;
    cursor: pointer; 
}
.btn img {
    width: 18px;
    height: 18px;
}
.btn-delete:hover, .btn-edit:hover, .btn-done:hover {
    transform: scale(1.3);
    transition: transform 400ms ease;
} 

.completed {
    text-decoration: line-through;
    color: #FD5F78;
}

.bg-color {
    background-color:#ebebfd;
}



.checkbox {
    position: relative;
    margin-right: 10px;
    /* width: 18px;
    height: 18px; */
    cursor: pointer;
}

.checkboxInput {
    appearance: none;
    width: 20px;
    height: 20px;
    /* position: absolute; */
    
}

.checkboxInput::before {
    content: "";
    display: block;
    width: 16px;
    height: 16px;

    position: absolute;
    top:0;
    left: 0;

    border: 2px solid #38D7C5;
    border-radius: 3px;
}

.checkboxInput::after {
    content: "";
    display: block;
    width: 12px;
    height: 9.42px;

    background: url('./../../assets/done.png') no-repeat;
    background-size: 12px, 9.42px;

    position: absolute;
    top: 5px;
    left: 4px;
    z-index: 2;

    opacity: 0;
    transition: opacity .1s liner;
}

.checkboxInput:checked + .checkboxInput::after{
    opacity: 1;
    /* background-color:#FD5F78; */
}