.innerItem {
    width: 100%;
    padding: 10px 20px;

    background-color:#cfbeba;
    color:black;
    border-radius: 10px;
    font-size: 15px;

    display: flex;
    justify-content: space-between;
    align-items: center;

    margin-bottom: 15px;
}
.wrap-left{
    display: flex;
    width: 100%;
    align-items: center;
}

/* .innerItem:hover {
    background-color: #4b4441;
    transition: background-color 0.15s ease-in-out;
} */
.wrap-rigth {
    display: flex;
    margin-left: 10px;
}
.task-text {
    width: 100%;
}
.input-edit {
    background-color: transparent;
    font-family: 'Montserrat';
    font-size: 15px;
    outline: none;
    width: 100%;
    color: rgb(121, 9, 89)
}
.btn {
    background: none;
    margin-right: 10px;
    cursor: pointer; 
}
.btn img {
    width: 20px;
    height: 20px;
}
.btn-delete:hover, .btn-edit:hover, .btn-done:hover {
    transform: scale(1.3);
    transition: transform 400ms ease;
} 

.completed {
    text-decoration: line-through;
    color: rgb(232, 194, 147);
}

.bg-color {
    background-color:#655d5a;
    color:white;
}
