.App {
  display: flex;
  justify-content: center;
  align-items: center;

  min-height: 100vh;

  background: #EBEDFA;
  padding: 50px 0;
}

.innerApp {
  min-height: 90vh;
  width: 40%;
  min-width: 525px;

  padding: 50px;

  display: flex;
  flex-direction: column;
  align-items:center;

  background-color:#fff;
  border-radius: 20px;
  box-shadow: 10px 10px 15px rgba(126, 154, 253, 0.2)
}

.titleApp {
  font-size: 25px;
  margin-bottom: 30px;
  font-weight: 600;
}

.list {
  width: 100%;
}