.App {
  display: flex;
  justify-content: center;
  align-items: center;

  min-height: 100vh;

  background: #EBEDFA;
}

.innerApp {
  height: 90vh;
  width: 40%;
  min-width: 360px;

  padding: 50px;

  display: flex;
  flex-direction: column;
  align-items:center;

  background-color:#fff;
  border-radius: 20px;
  box-shadow: 10px 10px 15px rgba(126, 154, 253, 0.2)
}


.titleApp {
  font-size: 25px;
  margin-bottom: 30px;
  font-weight: 600;
  text-align: center;
}

.list {
  width: 100%;
  overflow: auto;
}

@media (max-width:1300px) {
  .innerApp {
    padding: 20px;
  }
}