.App {
  display: flex;
  justify-content: center;
  align-items: center;

  height: 100vh;

  background: #D2BDB9;
}

.inner {
  height: 80%;
  width: 40%;
  min-width: 525px;

  padding: 50px;

  display: flex;
  flex-direction: column;
  align-items:center;

  background-color:#9e8781;
  border-radius: 20px;

}

.title {
  font-size: 30px;
  color: white;
  margin-bottom: 30px;
}

.list {
  width: 100%;
}